.App {
  display: block;
  margin-left: 15px;
  text-align: left;
  max-width: 600px;
  font-family: "Work Sans", sans-serif;
  padding: 50px 12px 0 12px;
}

.App .box {
  display: flex;
}

.App .one {
  flex: 1 1 auto;
}

.App .two {
  flex: 1 1 auto;
}

.App .three {
  flex: 1 1 auto;
}

.App .four {
  flex: 1 1 auto;
}

.App .five {
  flex: 1 1 auto;
}
.App .card {
  width: 63rem;
  padding: 20px;
  display: block;
  margin: 0 auto;
}

.App .card-body {
  padding: 16px;
}

.App .weatherIcon {
  padding: 10px;
  margin: 20px;
}

.App .degreesNow {
  margin: 35px 0px 0px 20px;
}
